<div class="grid grid-cols-3 gap-4">
  <div class="grid grid-cols-subgrid gap-4 col-span-3 col-start-2">
    <table class="table-auto mx-auto">
      <thead>
      <tr>
        <th class="px-4 py-2">Originate</th>
        <th class="px-4 py-2">Timestamp</th>
      </tr>
      </thead>
      <tbody>
      <% @impressions.each do |impression| %>
        <tr>
          <td class="border px-4 py-2"><%= impression.location %></td>
          <td class="border px-4 py-2"><%= impression.created_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="grid grid-cols-subgrid gap-4 col-span-3 col-start-2">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>

